
@font-face {
    font-family: "customFont";
    src: url("/resources/font.ttf");
}

body{
    background-color: slategrey;
    font-family: "customFont";
    overflow: hidden;
}

#appplication{
    width:1024px;
    height:768px;
    position:absolute;
    top:0px;
    left:0px;
    overflow: hidden;
    display:block;
}

.main-screen{
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
    perspective: 600px;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
}

.clip-screen{
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
}
.clip-screen svg{
    width:100%;
    height:100%;
}

.main-background{
    position:absolute;
    left:-215px;
    top:-69px;
    width:1378px;
    height:868px;
    background-repeat: round;
}
.main-background .shadow-background{
    position:relative;
    width:100%;
    height:100%;
    background-repeat: round;
}

.sector{
    position: absolute;
    background-repeat: round;
  /*  border: dashed blue 1px;  */
}

.sector .active{
    position:relative;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-repeat: round;
}

.dev-frame{
    display:none;
    border: 5px blue dotted;
    width:1024px;
    height:768px;
    position:absolute;
    top:0px;
    left:0px;
}

.detail-screen{
    width:1024px;
    height:768px;
    position:absolute;
    top:0px;
    left:0px;
    background-repeat: round;
}

.detail-screen .image {
    position: absolute;
    /*border: 1px dashed orange;*/
    background-repeat: round;    
}
.title {
    margin-top:20px;
    margin-left:20px;
    font-size: 60px;
    width:600px;
    line-height: 60px;
}
.title span{
    display: inline;
    background: linear-gradient(to top, #f5ff81, white);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;      
    filter: drop-shadow(2px 4px 3px #000);     
}
.title-latin{
    margin-top:10px;
    margin-left:50px;
    font-size: 40px;
    width:800px;    
}
.title-latin span{
    display: inline;
    background: linear-gradient(to top, #e5e5e5, white);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;    
    filter: drop-shadow(2px 2px 2px #000); 
}
.description{
    text-align: justify;
    font-size: 30px;
    line-height: 35px;
    position:absolute;
    top:300px;
    left:20px;
    width:90%;
    padding-left: 30px;
}
.description span{
    display: inline;
    background: linear-gradient(to top, #f5ff81, white);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;    
    filter: drop-shadow(2px 2px 2px #000);    
}
.polygon{
    fill:yellow;
    stroke:blue;
    stroke-width:2px;
    fill-rule:evenodd;
    opacity:0.0;
}
.detail-screen .navigation {
    position: absolute;
    bottom:0px;
    left:0px;
    width:1024px;
    height:80px;
}

.language{
    width:100%;
    position:fixed;
    bottom:0px;
    text-align:center;
    z-index:500;
}
.flag{
    display: inline-block;
    width:50px;
    height:37px;
    background-repeat: round;
    transition: width 400ms, height 400ms;
    box-shadow: 0px -4px 8px 1px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.flag.lv{
    background-image: url("/resources/lv_flag.png");
}
.flag.ru{
    background-image: url("/resources/ru_flag.png");
}
.flag.en{
    background-image: url("/resources/en_flag.png");
}
.flag.active{
    width:90px;
    height:60px;
    transition: width 400ms, height 400ms;
    border-radius: 9px;
}

.button-prev{
    position:fixed;
    left: 0px;
    bottom:0px;
    background-image: url("/resources/button_return.png");
    width:100px;
    height:100px;
    background-repeat: round;
    z-index:999;
}
.button-prev:hover{
    background-image: url("/resources/button_return_on.png");
}
.button-next{
    position:fixed;
    right: 0px;
    bottom:0px;
    background-image: url("/resources/button_return.png");
    width:100px;
    height:100px;
    background-repeat: round;
    transform: scaleX(-1);
    z-index:999;
}
.button-next:hover{
    background-image: url("/resources/button_return_on.png");
}
.button-exit{
    position:fixed;
    right: 0px;
    top:0px;
    background-image: url("/resources/button_exit.png");
    width:100px;
    height:100px;
    background-repeat: round;
    z-index:999;
}
.button-exit:hover{
    background-image: url("/resources/button_exit_on.png");
}

.dev-button {
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:8px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.dev-button:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
}
.dev-button:active {
    position:relative;
    top:1px;
}
.dev-sector{
    background-color: #378de5;
    position:absolute;
    left:10px;
    top:10px;
    border:dashed 1px yellow;
    background-repeat: round;
}
.detail-3d{
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
    perspective: 300px;
    transform: rotateX(0deg) rotateY(0deg);
}
.detail-frame{
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:768px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transform-origin: 512px 0 -3000px;
}
.detail-element{
    position:absolute;
    left:0px;
    top:-100px;
    width:1024px;
    height:968px;
    transform-origin: 512px 0 -3000px;
    background-repeat: round;
}
.detail-content{
    position:absolute;
    left:0px;
    top:100px;
    width:1024px;
    height:768px;
}

.sounds div{
    display: block;
    width: 50%;
    height: 55px;
    margin: 10px;
    margin-left: 50px;
}
.sounds .icon{
    display: inline-block;
    margin:0;
    width:50px;
    height:50px;
    border: #f5ff81 1px solid;    
}
.sounds .title{
    display: inline-block;
    width:auto;
    height:50px;
    margin:0;
    vertical-align: top;
    color: #f5ff81;
    font-size: 25px;
    line-height: 50px;
    margin-left: 10px;

    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 70%, rgba(248,181,0,1) 71%, rgba(251,223,147,1) 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;    
    filter: drop-shadow(2px 2px 2px #000);     
}
.sounds .waveform{
    display:none;
    vertical-align: top;
    position: relative;
    width:50px;
    height:35px;
    margin:0;
    margin-left: 5px;
}
.sounds .waveform div{
    position: absolute;
    margin:0;
    bottom: 0px;
    background-color: yellowgreen;
    width:6px;
    height: 20px;
    background: linear-gradient(to bottom, rgba(214,252,0,1) 0%, rgba(117,137,12,1) 100%);
    filter: drop-shadow(1px 1px 1px #000);   
    animation-duration: 2s;
    animation-iteration-count: infinite;      
}
.sounds .waveform div:nth-child(1){
    animation-name: wkf1;
    left:0px;
}
.sounds .waveform div:nth-child(2){
    animation-name: wkf2;
    left:10px;
    height:5px;
}
.sounds .waveform div:nth-child(3){
    animation-name: wkf3;
    left:20px;
    height:10px;
}
.sounds .waveform div:nth-child(4){
    animation-name: wkf4;
    left:30px;
    height:25px;
}

@keyframes wkf1 {
    0%   {height: 35px;}
    50%   {height: 5px;}    
    100% {height: 35px;}
  }
@keyframes wkf2 {
    0%   {height: 5px;}
    50%   {height: 35px;}    
    100% {height: 5px;}
  }
@keyframes wkf3 {
    0%   {height: 10px;}
    33%   {height: 35px;}    
    66%   {height: 5px;}        
    100% {height: 10px;}
  }
@keyframes wkf4 {
    0%   {height: 25px;}
    50%   {height: 5px;}    
    100% {height: 25px;}
  }      

.sounds .playing .title{
    background: linear-gradient(to bottom, rgba(214,252,0,1) 0%, rgba(117,137,12,1) 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;    
    filter: drop-shadow(2px 2px 2px #000);     
}
.sounds .playing .icon{
    border: red 1px solid;    
}
.sounds .playing .waveform{
    display:inline-block;
}