
body{
    background-color: slategrey;
}

#appplication{
    width:1024px;
    height:768px;
    position:absolute;
    top:0px;
    left:0px;
    overflow: hidden;
}
.main-screen{
    position:absolute;
    left:-100px;
    top:-100px;
    width:1224px;
    height:968px;
    perspective: 600px;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
}

.main-background{
    position:absolute;
    left:0px;
    top:0px;
    width:1224px;
    height:968px;
}

.sector{
    position: absolute;
    background-repeat: round;
    /*
    height: 300px;
    width: 100px;
    border: 5px solid blue;
    background: cornflowerblue;
    transform: translate3d(400px, 300px, 40px);
    */
}


.dev-frame{
    display:none;
    border: 5px blue dotted;
    width:1024px;
    height:768px;
    position:absolute;
    top:0px;
    left:0px;
}


.detail {
    position: absolute;
    height: 300px;
    width: 100px;
    border: 5px solid blue;
    background: cornflowerblue;
    transform-style: preserve-3d;
    transform: translate3d(400px, 300px, 40px);
}
#div2 {
    position: absolute;
    width:300px;
    height:100px;
    border: 5px solid black;
    background: darkgreen;
    transform-style: preserve-3d;
    transform: translate3d(100px, 300px, 280px);
}

#div3 {
    position: absolute;
    width:300px;
    height:100px;
    border: 5px solid black;
    background: darkgreen;
    transform-style: preserve-3d;
    transform: translate3d(100px, 100px, 0px);
}




.scene {
    position: absolute;
    top:300px;
    left: 300px;
    width: 200px;
    height: 200px;
    border: 1px solid #CCC;
    display: inline-block;
    perspective: 600px;
    transform: rotateX(-15deg) rotateY(-25deg);
}
.panel {
    background: hsla(0, 100%, 50%, 0.7);
    line-height: 200px;
    color: white;
    font-size: 11px;
    text-align: center;
    position:absolute;
}
.panelA{
    width:300px;
    height:300px;
    transform:translate3d(-50px,-50px,0px);
}
.panelB{
    width:50px;
    height:100px;
    transform:translate3d(10px,30px,20px);
}
.panelC{
    width:50px;
    height:100px;
    transform:translate3d(100px,30px,40px);
}
